.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    transition: all 0.3s;

}
.navbar.active{
    background-color: #111;

}

.logo{
    position:fixed;
    left: 20px;
    width: 80px;
}

.avatar{
    position: fixed;
    right: 20px;
    width: 30px;
}

.searchicon{
    position: fixed;
    right: 100px;
    top: 22px;
    width: 30px;
    color: gainsboro;
}
.bellicon{
    position: fixed;
    right: 170px;
    top: 22px;
    width: 30px;
    color: gainsboro;
}

.bellicon:hover,
.searchicon:hover{
    color: white;
    transition: all 0.4s;
    transform: scale(1.08);

}